.movie-row {
  display: flex;          
  flex-direction: row; 
  gap: 20px;              
  justify-content: center;
}

.movie-card {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  width: 150px;           
}


.titles{
    align-items: center;
}

body{

}

.subscribe-link {
  color:#FFA500;
}

/* Add space below each major section */
.featured-section,
.recommended-section,
.subscription-section {
  margin-bottom: .25rem; /* Adjust as needed */
}

/* .hero-banner {
  padding-top: 70px; 

}

.subscription-section {
  margin-bottom: 100px; 
} */

/* .home {
  padding-top: 70px;
  padding-bottom: 100px;
} */




