
html, body {
  height: 100%;
  margin: 0;
}


body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #f5f5f5; 
  font-family: Arial, sans-serif;
}


.login-form {
  width: 320px;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
  box-sizing: border-box;
}

.login-box{
  left: 100px;
}

.clickable{
  color: #FFA500;
}

.login-container{
  margin-bottom: 200px;
}

.loginbttn{
   margin-block: 1px;
}