#root {
  max-width: 1280px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body {
  background: linear-gradient(135deg, #FFA500, #8A2BE2);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 400; /* Cambia a 500 o 600 si lo deseas más grueso */
  font-size: 16px;  /* Tamaño base legible */
  line-height: 1.6;
  min-height: 200vh;
}


